:root {
  /* Cores de Interface */
  --bg-principal: #F8F9FA;
  --texto-principal: #202124;
  --texto-secundario: #5F6368;
  --cta-btn: #FF6D00; /* Laranja mais vivo */
  --cta-hover: #E66000;

  /* Cores super brilhantes para as cartas */
  --cor-papel: #1A73E8;      --bg-papel: #D2E3FC;
  --cor-tarefa: #0D904F;     --bg-tarefa: #CEEAD6;
  --cor-contexto: #F9AB00;   --bg-contexto: #FEF7E0;
  --cor-formato: #EA4335;    --bg-formato: #FAD2CF;
}

body {
  margin: 0;
  background-color: var(--bg-principal);
  color: var(--texto-principal);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}